.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10
  
  &__container
    +container
    position: relative
    display: flex
    align-items: center
    height: 210px

  &__relative
    position: relative
    width: 100%
  
  &__langs
    right: 0
    top: -40px
    position: absolute
    +TAB_MAX
      top: -60px
  
  &__menu
    display: flex
    width: 100%
    +PC_MIN
      display: flex
      align-items: center
      justify-content: space-between