body
  +fontLato
  font-size: 16px
  line-height: 1.2

a
  color: inherit
  text-decoration: none

strong
  color: $orange

input, textarea, button
  margin: 0

*::selection
  background-color: $orange
  color: $blue

  



