.breadcrumbs
  .breadcrumbs__container
    a.breadcrumbs__link(href='#') OFERTA
    a.breadcrumbs__link(href='#') PIECE KAFELKOWE
    a.breadcrumbs__link(href='#') RAIS
    a.breadcrumbs__link(href='#') SERIA VOLCANO