.breadcrumbs
  padding-top: 35px
  
  &__container
    +container
  
  &__link
    display: inline-block
    padding: 0 7px
    font-size: 14px
    color: #404040
    transition: color 0.3s ease
    &:hover
      color: $black
      text-decoration: none
    &:after
      content: ' >>'
      color: $orange
      margin-left: 5px
    
    &:last-child
      &:after
        content: ''