.checkbox__row
  input.checkbox__element(type='checkbox' name='newsletter' value='newsletter')
  label.checkbox__label Wyrażam zgodę na przetwarzanie moich danych osobowych <br/> w celach marketingowych.