.checkbox
  &__row
    position: relative
  
  &__element
    +PC_MIN
      position: absolute
      top: 2px
  
  &__label
    +font(size 10px)
    margin-left: 10px
    color: #893a0b
    &.-form
      color: #60758e
    +PC_MIN
      display: block
      margin-left: 25px