.brands.parallax(style='background-image: url('+ imgDir +'brands1.jpg)')
  .brands__container
    .brands__slider
      - for(var i = 1; i <= 4; i++)
        .brands__item
          .brands__center
            .brands__title
              +lorem(3)
            .brands__content
              +lorem(5)