.brands
  +font(size 36px)
  color: white
  background-repeat: no-repeat
  background-size: cover
  +TAB_MAX
    background-position: center center
  +PC_MIN
    background-attachment: fixed
  
  &__container
    +container
  
  &__item
    display: flex !important
    align-items: center
    justify-content: center
    text-align: center
    min-height: 340px
    padding: 40px 0
  
  &__content
    font-weight: 900
    margin-top: 15px