.details
  background: $gray
  padding: 70px 0
  
  &__container
    +container
    max-width: 830px
  
  &__column
    +TAB_MIN
      float: left
      width: 50%
      padding-right: 15px
      &:last-child
        +TAB_MIN
          text-align: right
          padding-right: 0
          padding-left: 15px
        
        .details__itemHeader
          +TAB_MIN
            &:after
              right: 0 !important
              left: auto
  
  &__item
    padding: 30px 0
  
  &__itemHeader
    +font(weight 300 size 36px)
    margin-bottom: 40px
    padding-bottom: 40px
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100px
      height: 1px
      background: $orange
  
  &__list
    position: relative
    margin: 0 20px
  
    &__item
      padding: 4px 0
      &.-left
        &:before
          content: '•'
          border-radius: 50%
          color: $orange
          left: -20px
          position: absolute
        
      &.-right
        display: inline-block
        padding: 4px 0
        &:before
          content: '•'
          border-radius: 50%
          color: $orange
          left: -20px
          position: absolute
        +TAB_MIN
          &:before
            right: -20px
      
      
    
    