.details
  .details__container

    - for(var i = 1; i <= 2; i++)
      - var listClass = i == 2 ? '-right': '-left'
      .details__column
        .details__item
          .details__itemHeader Ogólne parametry

          ul.details__list
            - for(var j = 1; j<= 3; j++)
              li.details__list__item(class=listClass)
                +lorem(5)