extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-main
  include ../components/text/text-main
  include ../components/brands/brands
  include ../components/offer/offer-main
  include ../components/brands/brands
  include ../components/text/text-slider
