extends ../layout/body

block headScripts

block content

  include ../components/banner/banner-pages
  include ../components/breadcrumbs/breadcrumbs
  include ../components/text/text-pages
  include ../components/offer/offer-pages
  include ../components/offer/offer-bottom
