extends ../layout/body

block headScripts

block content

  include ../components/banner/banner-pages
  include ../components/breadcrumbs/breadcrumbs
  include ../components/offer/offer-product
  include ../components/details/details