=clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

=container
  +clearfix
  margin: 0 auto
  padding: 0 20px
  max-width: 1180px

=absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)