.contact.parallax(style='background-image: url('+ imgDir +'contact1.jpg)')#contact

  .contact__container
    .contact__title
      .contact__header Skontaktuj się z nami
      .contact__info Napisz lub zadzwoń.

    .contact__form
      include ../form/form

    .contact__adres
      include ../adres/adres