.contact
  padding: 70px 0
  +PC_MIN
    margin-bottom: 106px //for cool footer efect!
  
  &__container
    +container
    max-width: 830px
  
  &__title
    text-align: center
  
  &__header, &__info
    +font(weight 300)
    color: $white
  
  &__header
    font-size: 36px