.banner
  
  &.-pages
    height: 210px
  
  &__container
    +container
    +TAB_MAX
      position: relative
  
  &__item
    position: relative
    height: 500px
    +PC_MIN
      height: 100vh
  
  &__itemHeader
    +font(size 50px)
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    text-align: right
    text-shadow: 0px 3px 1.78px rgba(0, 0, 0, 0.09)
    color: $white
    text-transform: uppercase
    +PC_MIN
      +font(size 70px)
      width: 50%
      right: 50%
  
  &__scroll
    position: absolute
    bottom: 100px
    left: 50%
    transform: translateX(-50%)
    z-index: 2
  
  &__bottom, &__bottomImg
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    z-index: 1
  
  &__bottom
    background-position: bottom right
    background-size: cover
    height: 200px
    pointer-events: none
    +MIN(1400px)
      display: none
  
  &__bottomImg
    +MAX(1400px)
      display: none
    