.banner.-main.parallax(style='background-image: url('+ imgDir +'banner.jpg)')
  .banner__container
    .banner__slider
      - for(var i = 1; i <= 3; i++)
        .banner__item
          .banner__itemHeader
            +lorem(5)

    .banner__scroll
      include ../arrow/arrow

    .banner__bottom(style='background-image: url('+ imgDir +'bannerBottom.svg)')
    img.banner__bottomImg(src=imgDir + 'bannerBottom.svg' alt='banner')