.text#serwis
  .text__container
    .text__row
      .text__header
        include ../title/title-small

    .text__row
      .text__column
        .text__contentHeader
          +lorem(5)
        .text__content
          +lorem(100)

      .text__column
        .text__slider
          - for(var i = 1; i <= 3; i++)
            - var itemStyle = 'background-image: url('+ imgDir +'text' + i +'.jpg)';
            .text__sliderImg(style=itemStyle)