.text.-main#about
  .text__container
    .text__row
      .text__header
        include ../title/title-small

    .text__row
      .text__column
        .text__contentHeader
          +lorem(5)
        .text__content
          +lorem(100)

      .text__column
        .text__contentHeader
          +lorem(3)
        .text__content
          +lorem(100)