.text
  background: $white
  padding: 70px 0
  &.-main
    margin-top: 0
  
    &__content
      margin-top: 60px
    
  &__container
    +container
  
  &__row
    +clearfix
    display: flex
    +TAB_MAX
      flex-direction: column
  
  &__column
    +TAB_MAX
      &:nth-child(1)
        padding-bottom: 40px
    
    +PC_MIN
      width: 50%
      &:nth-child(1)
        padding-right: 35px
      &:nth-child(2)
        padding-left: 35px
  
  &__header
    width: 100%
    margin-bottom: 40px
    +PC_MIN
      margin-bottom: 80px
  
  &__contentHeader
    +font(size 21px weight 700)
    margin-bottom: 20px
  
  &__content
    +font(weight 300)
  
  &__sliderImg
    background-position: center
    background-size: cover
    display: block
    width: 100%
    height: 300px