.footer
  .footer__container
    .footer__copyrights MIXMANN, Copyrights 2016 ®

    .footer__links
      a(href='list.html').footer__link O nas
      a(href='list.html').footer__link Mieszalniki farb
      a(href='list.html').footer__link Systemy produkcyjne
      a(href='list.html').footer__link Systemy laboratoryjne
      a(href='list.html').footer__link Serwis
      a(href='list.html').footer__link Kontakt