.footer
  background: #162c47
  color: $white
  padding: 45px 0
  +PC_MIN
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: -1
  
  &__container
    +container
    display: flex
    justify-content: space-between
    +TAB_MAX
      flex-direction: column-reverse
  
  &__copyrights
    +TAB_MAX
      margin-top: 40px
  
  &__links
    +clearfix
  
  &__link
    padding: 10px 0
    +TAB_MAX
      display: block
    +TAB_ONLY
      float: left
      width: 50%
    +PC_MIN
      margin-left: 15px
    &:hover
      color: $orange