.offer
  background: $white
  
  &__container
    +container
    +flex-center
  
  &__flex
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  
  &__header
    margin: 60px 0 40px
  
  &__product
    padding: 40px 0
    background: $gray
    &.-left
      background: white
      .offer__flex
        +MIN(800px)
          flex-direction: row-reverse

    &.-light
      background: white
      +PC_MIN
        padding: 0
    
    .offer__flex
      +MAX(800px)
        flex-direction: column
      +PC_MIN
        height: 600px
  
  &__productInfo
    text-align: justify
    +MIN(800px)
      width: 50%
  
  &__img
    display: block
    +MAX(800px)
      margin-bottom: 40px
    +MAX(900px)
      width: 250px !important
  
  &__productHeader
    margin-bottom: 40px
  
  &__buttonBox
    margin-top: 40px
  
  &__productContent
    +font(weight 300)