.offer
  .offer__container
    .offer__header
      include ../title/title-small

  - for(var i = 1; i <= 4; i++)
    - var itemSrc = imgDir + 'offer' + i + '.jpg';
    - var itemAlt = 'offer' + i;
    - var itemClass = i % 2 == 0 ? '-left': '';
    .offer__product(class=itemClass)
      .offer__container
        .offer__flex
          .offer__productImg
            img.offer__img(src=itemSrc alt=itemAlt)
          .offer__productInfo
            .offer__productHeader
              include ../title/title-medium
            .offer__buttonBox
              include ../button/button-link