.offer
  - var itemSrc = imgDir + 'offer5.jpg';
  - var itemAlt = 'offer1';
  - var itemClass = '-light';
  .offer__product(class=itemClass)
    .offer__container
      .offer__flex
        .offer__productImg
          img.offer__img(src=itemSrc alt=itemAlt)
        .offer__productInfo
          .offer__productHeader
            include ../title/title-medium
          .offer__productContent <strong>Something </strong>
            +lorem(80)
          .offer__buttonBox
            include ../button/button-link