.adres
  .adres__container
    - for(var i = 1; i <= 3; i++)
      .adres__row

        - for(var j = 1; j <= 2; j++)
          .adres__column
            .adres__item
              .adres__itemHeader Administracja: Monika Pieniążek

              - for(var k = 1; k<= 2; k++)
                .adres__itemInfo
                  .adres__itemInfoName telefon:
                  a(href='tel:999999').adres__itemInfoContent 999 999 999, 888 888 888
                .adres__itemInfo
                  .adres__itemInfoName email:
                  a(href='mailto:hi@mixmann.pl').adres__itemInfoContent <strong>hi@mixmann.pl</strong>