.adres
  font-weight: 300
  color: $white
  
  &__container
    border-top: 1px solid #17283c
  
  &__row
    +clearfix
    &:last-child
      +PHONE_ONLY
        .adres__column
          &:last-child
            .adres__item
              &:last-child
                border-bottom: none
                padding-bottom: 0
      
      +TAB_MIN
        .adres__item
          &:last-child
            border-bottom: none
            padding-bottom: 0
  
  &__column
    +TAB_MIN
      float: left
      width: 50%
      padding-right: 15px
      &:last-child
        +TAB_MIN
          text-align: right
          padding-right: 0
          padding-left: 15px
  
  &__item
    padding: 30px 0
    border-bottom: 1px solid #17283c
  
  &__itemHeader
    font-weight: 400
    margin-bottom: 10px
  
  &__itemInfo
    +clearfix
    +PHONE_ONLY
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
  
  &__itemInfoName
    +TAB_MIN
      float: left
      width: 30%
  
  &__itemInfoContent
    +TAB_MIN
      float: left
      width: 70%
    
    
  