.button
  +font(size 12px)
  +flex-center
  display: inline-flex
  height: 40px
  min-width: 150px
  background: transparent
  border: 1px solid black
  padding: 0 10px
  position: relative
  z-index: 2
  overflow: hidden
  cursor: pointer
  &:after
    transition: 0.4s ease all
    content: ''
    position: absolute
    left: -105%
    top: 0
    opacity: 0
    width: 100%
    height: 100%
    background: darken($gray, 10%)
    z-index: -1
  
  &:hover
    &:after
      left: 0
      opacity: 1
  
  &.-form, &.-newsletter
    &:after
      background: darken($gray, 10%)
  
  &.-form
    background: $orange
    border-color: $white
    color: $white