.title
  +font(size 36px)
  
  &.-small
    +font(weight 300)
    text-align: center
  
  &.-medium, &.-big
    +font(weight 700)
    padding-bottom: 40px
    position: relative
    text-transform: uppercase
    text-align: left
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100px
      height: 1px
      background: $orange
  
  &.-big
    +font(size 72px weight 300)
    padding-bottom: 60px
    