.menu
  +clearfix
  position: relative
  display: flex
  z-index: 1000
  text-align: center
  @media (max-width: 1023px)
    width: 100%
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: black
    display: none
    z-index: 1000
  
  &__button
    position: fixed
    right: 20px
    top: 70px
    background-color: black
    color: white
    font-size: 18px
    cursor: pointer
    padding: 15px
    +TAB_MAX
      font-size: 24px
    +PC_MIN
      display: none
  
  &__list
    +clearfix
    position: relative
    display: inline-block
    text-align: left
    
    +PC_MIN
      display: block !important
  
    &.-main
      @media (max-width: 1023px)
        position: fixed
        top: 50%
        left: 50%
        display: none
        z-index: 9001
        max-height: 70vh
        overflow-y: auto
        transform: translate(-50%, -50%)
        background-color: white
  
  &__item
    display: block
    position: relative
    
    .menu__list.-main &
      float: left
      @media (max-width: 1023px)
        float: none
  
  &__link
    display: block
    white-space: nowrap
    cursor: pointer
    color: white
    font-size: 17px
    +TAB_MAX
      padding: 20px 70px
      text-align: center
      color: black
      &:hover
        background: $orange
    +PC_MIN
      margin-left: 20px
      &:hover
        color: $blue