.menu
  .menu__button
    i.fa.fa-bars

  .menu__background

  ul.menu__list.-main
    li.menu__item
      a.menu__link(href='#about') ABOUT
    li.menu__item
      a.menu__link(href='#offer') OFFER
    li.menu__item
      a.menu__link(href='#serwis') SERWIS
    li.menu__item
      a.menu__link(href='#contact') CONTACT