$loaderBg: $white
$loaderColor1: $orange
$loaderColor2: $blue
$loaderTime: 2.5s

.loader
  background-color: $loaderBg
  height: 100%
  width: 100%
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  transition: 1s ease all
  &.-hide
    opacity: 0
    pointer-events: none
    
    .loader__box
      transform: scale(0.4)
  
  &__box
    width: 100%
    height: 100%
    position: relative
    transition: 1s ease all
  
  &__center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    height: 200px
    width: 200px
  
  &__object
    border-radius: 50% 50% 50% 50%
    position: absolute
    border-left: 2px solid $loaderColor1
    border-right: 2px solid $loaderColor2
    border-top: 2px solid transparent
    border-bottom: 2px solid transparent
    animation: animate $loaderTime infinite
    
    &.one
      left: 75px
      top: 75px
      width: 50px
      height: 50px
    
    &.two
      left: 65px
      top: 65px
      width: 70px
      height: 70px
      animation-delay: 0.1s
    
    &.three
      left: 55px
      top: 55px
      width: 90px
      height: 90px
      animation-delay: 0.2s
    
    &.four
      left: 45px
      top: 45px
      width: 110px
      height: 110px
      animation-delay: 0.3s
  
  @keyframes animate
    50%
      transform: rotate(180deg)
    
    100%
      transform: rotate(0deg)