.langs
  - for(var i = 1; i <= 3; i++)
    - var itemSrc = imgDir + 'langs'+ i +'.png';
    - var itemAlt= 'langs'+ i;
    - var itemClass= i == 1 ? '-active': ''

    a.langs__item(href='#' class=itemClass)
      img.langs__img(src=itemSrc alt=itemAlt)
