.newsletter
  background: $orange
  padding: 20px 0
  
  &__container
    +container
    +flex-center
    +TAB_MAX
      min-height: 300px
      flex-direction: column
  
  &__column
    position: relative
    padding: 25px 30px
    +TAB_MAX
      width: 100%
    +TAB_ONLY
      width: $tab
    +PC_MIN
      width: 50%
    
    &:nth-child(1)
      +TAB_MAX
        border-bottom: 2px solid darken($orange, 8%)
      +PC_MIN
        text-align: right
        &:after
          position: absolute
          top: 0
          bottom: 0
          right: -1px
          content: ''
          background: darken($orange, 8%)
          width: 2px
  
  &__row
    position: relative
    &:last-child
      margin-top: 20px
  
  &__header
    +font(size 36px weight 700)
    color: white
  
  input
    border: 1px solid black
  
  &__inputText
    +font(size 13px)
    padding: 0 20px
    width: 100%
    height: 40px
    max-height: 40px
    +PC_MIN
      width: 310px
  
  &__buttonBox
    +TAB_MAX
      margin-top: 10px
    +PC_MIN
      display: inline
      position: absolute
      top: 0
      margin-left: 10px
      width: 150px
      
    
    