.newsletter
  .newsletter__container
    .newsletter__column
      .newsletter__row
        .newsletter__header BĄDŹ NA BIEŻĄCO
      .newsletter__row
        .newsletter__content Zapisz się do newslettera i bądź na bieżąco z nowościami i <br/> specjalnymi ofertami Mixmann.

    .newsletter__column
      form(action='#').newsletter__form
        .newsletter__row
          input.newsletter__inputText(type='text' placeholder='Adres email')
          .newsletter__buttonBox
            include ../button/button-newsletter
        .newsletter__row
          include ../checkbox/checkbox-newsletter
