.arrow
  +font(size 10px weight 300)
  cursor: pointer
  color: white
  position: relative
  z-index: 100
  top: -30px
  
  img
    animation: arrow 1s infinite
  
  span
    position: absolute
    bottom: -25px
    left: 50%
    transform: translate(-50%, 0)
    
  
  @keyframes arrow
    0%
      transform: translateY(0)
    
    50%
      transform: translateY(10px)