.form
  margin: 52px 0
  
  &__row
    +clearfix
    margin-bottom: 8px
  
  &__column
    width: 100%
    +TAB_MIN
      float: left
      width: 100%
      padding: 0 3px
    
    &.-three
      +PHONE_ONLY
        margin-bottom: 8px
        &:last-child
          margin-bottom: 0
      +TAB_MIN
        width: 33.333%
  
  &__input, &__textarea
    +font(size 13px)
    width: 100%
    border: 1px solid $black
  
  &__input
    padding: 0 10px
    height: 30px
  
  &__textarea
    height: 210px
    padding: 15px
    resize: none
  
  &__buttonBox, &__buttonInfo
    +TAB_MIN
      float: left
  
  &__buttonInfo
    +font(size 14px weight 300)
    line-height: 1.5
    color: $white
    +PHONE_ONLY
      margin-top: 10px
    +TAB_MIN
      margin-left: 10px
    
    