form.form
  .form__row
    - for(var i = 1; i <=3; i++)
      .form__column.-three
        input(type='text' placeholder='Imię*').form__input

  .form__row
    .form__column
      textarea(placeholder='Wpisz swoją wiadomość').form__textarea

  .form__row
    .form__column
      .form__buttonBox
        include ../button/button-form

      .form__buttonInfo
        .form__buttonInfoLabel <strong>*Pola obowiązkowe</strong>
        .form__buttonInfoLabel
          +lorem(10)


  - for(var i = 1; i <=2; i++)
    .form__row
      .form__column
        include ../checkbox/checkbox-form
