include config

doctype html
html(lang='pl')

  include head

  body

    include ../components/loader/loader
    include ../components/header/header

    main
      block content

      include ../components/newsletter/newsletter
      include ../components/contact/contact

    include ../components/footer/footer

    block script
      <!-- build:js #{jsLib} -->
      <!-- bower:js -->
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js #{jsProd} -->
      script(src=jsDev)
      <!-- endbuild -->